.main {
  margin-top: 12%;
  position: relative;
  animation-name: move;
  animation-duration: 7s;
  animation-delay: 2s;
}

@keyframes move {
  0% {
    /* background-color: white; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: white; */
    left: 200px;
    top: 0px;
  }
  50% {
    /* background-color: white; */
    left: 200px;
    top: 200px;
  }
  75% {
    /* background-color: white; */
    left: 0px;
    top: 200px;
  }
  100% {
    /* background-color: white; */
    left: 0px;
    top: 0px;
  }
}

h2,
h3 {
  font-size: 20px;
  font-weight: 400;
}

i {
  font-size: 30px;
  padding: 8px;
}
