<div class="main">
  <div fxLayout="column" fxLayoutAlign="center center center center  ">
    <h3>Made by </h3>
    <h2 style="font-weight: 600;">Ram</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center center center">
    <h1>
      <a target="_blank" href="https://github.com/RamZibtek"><i class="fa-brands fa-github "
          style="color: #000000;"></i></a>
    </h1>
    <h1>
      <a target="_blank" href="www.facebook.com"><i class="fa-brands fa-facebook" style="color: #0751cf;"></i></a>
    </h1>
  </div>
</div>